
<h2 class="visuallyhidden">
  About this page
</h2>
<div class="meta-info">
  <span class="meta-info__updated">
    Last updated: {{ formatDate changed }}
  </span>
  {{#if changedBy}}
    {{> "content/author/author" name=changedBy gravatarUrl=gravatarUrl className="meta-info__author"}}
  {{/if}}
  <a href="{{ fileHistory }}" class="meta-info__link">
    {{{ inlineSvg "src/assets/img/logo/github.svg" class="meta-info__logo" }}}
    <span>View full history on GitHub</span>
  </a>
</div>
{{#if hasHistoryEntries}}
  <details class="meta-info-history">
    <summary class="meta-info-history__summary">
      Show recent relevant commits for this page
      <span class="visuallyhidden">
        Expands to a list of commit messages, dates, and authors.
      </span>
    </summary>
    <ul class="meta-info-history__list">
      {{#each historyEntries}}
        <li class="meta-info-history__item">
          <a href="{{ commitUrl }}" target="_blank">
            <span class="meta-info-history__date">{{ formatDate changed }}</span>
            <span class="meta-info-history__message">{{ message }}</span>
            {{#if changedBy}}
              <span class="meta-info-history__author">by {{ changedBy }}</span>
          {{/if}}
          </a>
        </li>
      {{/each}}
    </ul>
  </details>
{{/if}}
