<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{title}} - Accessibility Developer Guide example</title>
    <meta charset="utf-8">
    <style>{{{css}}}</style>
  </head>
  <body>
    {{{html}}}

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script>{{{js}}}</script>

    <hr />

    {{{codePen}}}

    <a href="{{article.url}}">
      <span aria-hidden="true">👈 </span>
      Back to article "{{article.title}}" on «Accessibility Developer Guide»
    </a>
  </body>
</html>
