<!doctype html>
<html>
<head>
  <title>{{title}}</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
  <style>{{{css}}}</style>
</head>
<body>
  <header class="header header--example">
    <a href="{{article.url}}">👈 {{article.title}}</a>

   {{{codePen}}}
  </header>

  <main class="site-content site-content--example">
  	{{{html}}}
  </main>

  <script>{{{js}}}</script>
</body>
</html>
