<!doctype html>
<html lang="en">
<head>
  <title>{{title}}</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
  <style>{{{css}}}</style>
</head>
<body>
  <div class="site-content site-content--example">
  	{{{html}}}
  </div>

  <script>{{{js}}}</script>

  <div class="footer footer--example">
    <a href="{{article.url}}">👈 {{article.title}}</a>

   {{{codePen}}}
  </div>
</body>
</html>
