<!doctype html>
<html lang="en">
<head>
  <title>{{title}}</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
  {{#each metatags.og}}
    <meta property="{{this.property}}" content="{{this.content}}">
  {{/each}}

  {{#each metatags.standard}}
      <meta name="{{this.name}}" content="{{this.content}}">
  {{/each}}
  <link rel="alternate" type="application/rss+xml" href="/feed/rss.xml">
</head>
<body class="js-theme theme{{#if section }} theme-{{section}}{{/if}}">
  <div id="body">
    <div id="main">
      <header class="header" id="header">
          <div class="l-site_width">
            <h1 class="visuallyhidden">Header</h1>
          </div>
      </header>
      {{> "global/navbar/navbar"}}
      <main id="main-content" class="site-content">
        <div class="l-site_width">
          {{> "global/breadcrumbs/breadcrumbs"}}
          {{#if contents}}
            {{> "content/text_container/text_container" content=contents}}
          {{/if}}
          {{#if subPages}}
            {{> "content/cardmenu/cardmenu" menuitem=subPages}}
          {{/if}}
        </div>

        {{> "content/prev_next/prev_next" prev=previousPage next=nextPage}}
      </main>
    </div>
    {{> "global/footer/footer"}}
  </div>

  <script src="/js/scripts.js"></script>
</body>
</html>
