<!doctype html>
<html>
<head>
  <title>{{title}}</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
  {{#each metatags.og}}
    <meta property="{{this.property}}" content="{{this.content}}">
  {{/each}}

  {{#each metatags.standard}}
      <meta name="{{this.name}}" content="{{this.content}}">
  {{/each}}
  <link rel="alternate" type="application/rss+xml" href="/feed/rss.xml">
</head>
<body class="js-theme theme theme-{{#if breadcrumb }}{{ breadcrumb.length }}{{else}}0{{/if}}">
  <div id="body">
    <header class="header" id="header">
        <div class="l-site_width">
          <h1 class="visuallyhidden">Accessibility Developer Guide</h1>
        </div>
    </header>
    {{> "global/navbar/navbar"}}
    <main id="main-content" class="site-content">
      <div class="l-site_width">
        {{> "global/breadcrumbs/breadcrumbs"}}
        {{> "content/main_title/main_title" title=title}}
        {{> "content/text_container/text_container" content=contents}}

        {{#if previousPage}}<br><a href="/{{previousPage.url}}">👈 {{previousPage.title}}</a>{{/if}}
        {{#if nextPage}}<br><a href="/{{nextPage.url}}">{{nextPage.title}} 👉</a>{{/if}}
        <p>
          <input class="js-search" type="text" placeholder="Search the guide" />
        </p>
      </div>
    </main>
  </div>

  <script src="/js/vendor.js"></script>
  <script src="/js/scripts.js"></script>
</body>
</html>
