<!DOCTYPE html>
<html lang="en">
<head>

  <title>{{title}} - ADG</title>
  <!--
          ___    ____  ______
         /   |  / __ \/ ____/
        / /| | / / / / / __
       / ___ |/ /_/ / /_/ /
      /_/  |_/_____/\____/

  ACCESSIBILITY DEVELOPER GUIDE - «Access for all»
  in cooperation with the web agencies Hinderling Volkart, Unic, Liip, Zeix and Nothing.

  -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Eczar|Work+Sans" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Eczar|Work+Sans"></noscript>
  <script>
  /*! loadCSS rel=preload polyfill. [c]2017 Filament Group, Inc. MIT License */
  !function(t){"use strict";t.loadCSS||(t.loadCSS=function(){});var e=loadCSS.relpreload={};if(e.support=function(){var e;try{e=t.document.createElement("link").relList.supports("preload")}catch(t){e=!1}return function(){return e}}(),e.bindMediaToggle=function(t){function e(){t.media=a}var a=t.media||"all";t.addEventListener?t.addEventListener("load",e):t.attachEvent&&t.attachEvent("onload",e),setTimeout(function(){t.rel="stylesheet",t.media="only x"}),setTimeout(e,3e3)},e.poly=function(){if(!e.support())for(var a=t.document.getElementsByTagName("link"),n=0;n<a.length;n++){var o=a[n];"preload"!==o.rel||"style"!==o.getAttribute("as")||o.getAttribute("data-loadcss")||(o.setAttribute("data-loadcss",!0),e.bindMediaToggle(o))}},!e.support()){e.poly();var a=t.setInterval(e.poly,500);t.addEventListener?t.addEventListener("load",function(){e.poly(),t.clearInterval(a)}):t.attachEvent&&t.attachEvent("onload",function(){e.poly(),t.clearInterval(a)})}"undefined"!=typeof exports?exports.loadCSS=loadCSS:t.loadCSS=loadCSS}("undefined"!=typeof global?global:this);
  </script>
  {{#each metatags.og}}
    <meta property="{{this.property}}" content="{{this.content}}">
  {{/each}}

  {{#each metatags.standard}}
    <meta name="{{this.name}}" content="{{this.content}}">
  {{/each}}

  <meta name="apple-mobile-web-app-title" content="Accessibility Developer Guide">
  <meta name="application-name" content="Accessibility Developer Guide">
  <meta name="msapplication-TileColor" content="#fff0d8">
  <meta name="msapplication-config" content="/img/favicon/browserconfig.xml">
  <meta name="theme-color" content="#fff0d8">
  <link rel="alternate" type="application/rss+xml" href="/feed/rss.xml">
  {{> "global/tracking/tracking"}}
  <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
  <link rel="manifest" href="/img/favicon/site.webmanifest">
  <link rel="mask-icon" href="/img/favicon/safari-pinned-tab.svg" color="#272727">
  <link rel="shortcut icon" href="/img/favicon/favicon.ico">
</head>
<body class="js-theme theme{{#if section }} theme-{{section}}{{/if}}">
  <div id="body">
    <div id="main">
      <a id="jump" href="#main-h1">Jump to content</a>
      </header>
      {{> "global/navbar/navbar"}}
      <main id="main-content" class="site-content">
        {{> "global/breadcrumbs/breadcrumbs"}}
        <div class="l-site_width">
          {{#if contents}}
{{> "content/text_container/text_container" content=contents}} {{!-- needs to have zero space indenting for code examples --}}
          {{/if}}
          {{#if subPages}}
            {{> "content/cardmenu/cardmenu" menuitem=subPages}}
          {{/if}}
        </div>
        {{> "content/prev_next/prev_next" prev=previousPage next=nextPage}}
        {{#notEq section 'welcome'}}
          {{#if changed}}
          <aside class="l-site_width">
            {{> "content/meta-info/meta-info"}}
          </aside>
          {{/if}}
        {{/notEq}}
      </main>
      {{> "global/footer/footer"}}
    </div>
  </div>
  <script src="/js/vendor.js"></script>
  <script src="/js/scripts.js"></script>
</body>
</html>
