{{#eq menuitem.0.level 1}}
{{else}}
<nav class="cardmenu{{#eq menuitem.0.level 1}} cardmenu-parts{{else}} cardmenu-default{{/eq}}">
    <div class="text_container">
      <h2>
        {{#eq menuitem.0.level 1}}
          Parts
        {{else eq menuitem.0.level 2}}
          Chapters
        {{else eq menuitem.0.level 3}}
          Pages
        {{else}}
          Sub pages
        {{/eq}}
      </h2>
    </div>

    <ul class="cardmenu--list">
      {{#each menuitem}}
        <li class="cardmenu--list--item cardmenu--list--item-level{{level}}">
            <a class="cardmenu--card--link{{#if modifier}} cardmenu--card--link-{{modifier}}{{/if}}" href="/{{url}}">
              {{#eq level 1}}
                {{> "content/cardmenu/cardmenu-card-part" }}
              {{else}}
                {{> "content/cardmenu/cardmenu-card" }}
              {{/eq}}
            </a>
        </li>
      {{/each}}
    </ul>
</nav>
{{/eq}}
