<div class="control">
  <input type="checkbox" class="visually-hidden" id="{{id}}">
  <label for="{{id}}">
    {{title}}
  </label>
</div>
<div class="panel" id="{{id}}_panel" style="display: none">
  {{content}}
</div>
